/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
   .logo{
   	margin: auto;
   	width: 256px;
   }
   .logo a{
     color: #171414!important;
   }
   .gamb{
   	display: inline-block;	
    outline: none; 	
   }
   #header{
    position: relative;
    background-color: #fff;
   }
   #header.default{
    display: none!important;
    
   }
   .top-menu #header{
    padding-bottom: 30px;
   }
//     .top-menu #header a {
//      color: #fff!important; 
// }
.top-menu #header.sec a {
    color: #fff;
}
   .top-menu #header.default .gamb{
    margin-top: 29px;
   }
   .top-menu #header.default .menu-m{
    position: absolute;
    top:84px;
   }
   // .top-menu #header .logo a{
   //  color: #272020!important;
   // }

   .top-social{
      display: none;
      
   }
   .menu-m{
   	display: none; 
      background-color: rgba(21, 21, 18, 0.7);	
      position: absolute;
      z-index: 10;
      right: 0;
      top: 126px;
      width: 140%;
      text-align: center;
      
   }
  
   .menu-m li{
      display: block;
      border-bottom: 1px solid #fff;
      
   }
   .top-menu a{
      padding-top: 0;
      width: 100%;
   }
   
   .menu-m li:hover {
    background-color: #dad3d3;
}
   #header .top-nav a:hover{
      color: #000;
   }
   .top-menu ul{
      padding-top: 0;
      margin-right: -120px;
   }
   .s-item{
      text-align: center;  
    }
    .cont-w{
      width: 27.333%;
    }
    .button-p{
      padding: 5px 10px;
      font-weight: normal;
      font-size: 15px;
   }
   .info h4{
      font-weight: normal;
      font-size: 15px;
   }
   // .arrow{
   //  display: block;
    
   // }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .s-item{
      text-align: center;      
    }
    .ptn{
      padding-top: 0;
    }
    .pbn{
      padding-bottom: 0;
    }
    .cont-w{
      width: 32.333%;
    }
    .button-p{
      padding: 5px 10px;
      font-weight: normal;
      font-size: 15px;
   }
   .info{
      padding-top: 30px;
   }
   .info h4{
      font-weight: normal;
      font-size: 15px;
   }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
   .cont-in h4{
      font-size: 11px;
      font-weight: normal;
      
   }
   .mr10 h4{
      margin-right: 10px;
   }
   .button-p{
      padding: 5px 10px;
      font-weight: normal;
      font-size: 15px;
   }
   .info{
      padding-top: 5px;
   }
   .info h4{
      font-weight: normal;
      font-size: 15px;
   }
   .top-menu li{
      margin-right: 105px;
   }
   .logo a{
      font-size: 50px;
   }
   .logo span{
      font-size: 22px;
   }
   .item-in h3{
      font-size: 24px;
   }
   .button{
      font-size: 20px;
      padding: 4px 10px;
   }
   .menu-m{
      top:108px;
   }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
   
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
   
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}