body {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

html {
	width: 100%;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,p,ul {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
}

ul li {
	list-style-type: none;
}

a, a:hover {
	text-decoration: none;
}



.container {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}

.header, .footer {
	background-color: #0070af;
	color: #fff;
}

.logo {
	font-size: 40px;
	padding: 30px 0 20px;
	
	
}

.menu {
	justify-content: space-between;
	padding-bottom: 25px;
}

.link__nav {
	color: #fff;
	transition: width .3s;
	display: inline-block;
	font-size: 20px;

}

.link__nav:hover {
	color: #fff;
}

.link__nav::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.link__nav:hover::after {
    width: 100%;
    transition: width .3s;
}


.hamb-item {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
}
.main-nav ul .mobile-button a {
  position: absolute;
  left: -99999em;
  color: #fff;
}
.mobile-button {
	display: none;
	text-align: right;
    width: 100%;
}
@media (max-width: 991px) {
	.logo {
		text-align: center;
	}
	.mobile-button {
	display: block;
}
  .main-nav ul {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .main-nav ul a {
    position: absolute;
    left: -99999em;
  }
  .main-nav ul.open li {
    width: 100%;
  }
  .main-nav ul.open li.mobile-button a {
    /* background: #fbf78d; */
    color: #fff;
  }
  .main-nav ul.open a {
    position: static;
  }
  .main-nav ul .mobile-button a {
    position: static;
  }
  
  .hero .container  {
  	flex-wrap: wrap;
  }
  .preise .container {
  	flex-wrap: wrap-reverse;
  }
  .hero__img {
  	margin: 0 auto 70px;
  }
}

@media (max-width: 480px) {
	.footer .container {
		flex-direction: column;
	}
	.footer__text {
		padding: 30px 0;
	}
}

@media (max-width: 480px) {

	.logo {
		font-size: 28px;
	}
	.hero .hero__text, .preise .hero__text {
		line-height: 25px;
		font-size: 16px;
	}
	.hero .hero__title, .preise .hero__title {
		padding-bottom: 8%;
	}

	.slider__section .slick-next:before,.slider__section .slick-prev:before {
	font-size: 20px;
}

}

.hero .container, .preise .container {
	padding-top: 5%;
	justify-content: space-between;

}
.hero__text-block {
	max-width: 635px;
	padding-left: 20px;
}

.hero__text {
	color: #656363;
	line-height: 30px;
	font-size: 18px;
}
.hero__title {
	font-size: 30px;
    padding-bottom: 2%;
}

.hero__img {
	padding-top: 5%;
}
.preise .hero__img {
	padding-top: 0;
}
.slick-next {
    right: 45px;
}

.slick-prev {
    left: 20px;
    z-index: 10;
}

.slider__section {
	padding: 50px 0;
}

.slick-next:before, .slick-prev:before {
	font-size: 40px;
}

.slick-next:before, .slick-prev:before {
    color: #1884b7;   
}

.preise .hero__title {
	padding-bottom: 4%;
}

.preise .hero__text {
	margin-bottom: 15px;
}

.footer .container{
	justify-content: space-between;
	align-items: center;

}

.preise .container{
	padding-bottom: 70px;

}

.footer__text {
	font-size: 25px;
}

.footer__item {
	font-size: 15px;
	padding-bottom: 20px;
}

.footer__item a {
	color: #fff;
}

.footer__item:first-child {
	padding-top: 20px;
}

.fa, .far, .fas {
   
    font-size: 25px;
}

.fa-home, .fa-envelope {
	padding-right: 13px;
}

.fas.fa-mobile-alt {
	padding: 0 20px 0  6px;
}

