@font-face {
	font-family: "BebasRegular";
	src: url("../fonts/BebasRegular.woff") format("woff"), url("../fonts/BebasRegular.woff2") format("woff2");
	font-weight: 900;
	font-style: normal; }

	html {
		overflow-x: hidden;
	}

	body {
		font-family: 'Oswald', sans-serif;

		
	}

	.top-line {
		right: 0;
		background: #231f20;
		min-height: 79px;
		position: fixed;
		left: 0;
		top: 0;
	}

	.top-line .container {
		min-height: 79px;
	}

	.logo-wrap {
		width: 176px;
		margin: auto;
	}

	.fas, .far, .fab {
		color: #fff;

	}

	.icon-block-menu {
		visibility: hidden;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-bottom: 20px;
	}

	.icon-block div, .icon-block-menu div {
		cursor: pointer;
		padding-right: 37px;
		transition: .5s;
	}

	.icon-block div:hover, .icon-block-menu div:hover {
		transform: translateY(-10px);
	}

	.icon-block div:last-child, .icon-block-menu div:last-child  {
		padding-right: 0;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	.menu-img-wrap img{
		height: 100%;
		width: 100%;
	}


	.menu-btn {
		
		border-radius: 50%;

		cursor: pointer;
		height: 35px;
		left: 24px;
		position: absolute;
		top: 24px;
		width: 56px;
		z-index: 99;
	}

	
	.menu {
		bottom: 0;
		background-color: #000;
		left: 0;
		margin: 0;
		position: fixed;
		top: 0;
		width: 100%;
		min-height: 700px;
		transform: translate3d(-100%, 0, 0);
		transition: transform .2s linear;
	}

	.menu .menu-wrap {
		max-width: 458px;
		width: 100%;
		padding: 200px 0 0 50px;
		height: 100%;
	}

	.menu-subtitle {
		color:#fff;
margin-bottom: 44px;
	}

	.menu-wrap {
		flex-direction: column;
	}

	.menu ul {
		margin-bottom: auto;
	}

	.menu li a {
		color: #fff;
		font-size: 48px;
		font-weight: bold;
		transition: 0.5s;
		cursor: pointer;
	}

	.menu li a:hover {
		text-decoration: none;
		color: #000;
		text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	}

	.menu li:hover .menu li span {
		
		text-shadow: none;
	}

	.menu li span {
		font-size: 12px;
		padding-right: 10px;
		color: #fff;
	}

	
	.menu-btn li {
		background-color: #ffffff;
		bottom: 0;
		height: 2px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		width: 30px;
		top: 0;
		transition: all .3s ease-in-out;
	}



	.menu-btn li:first-child {
		transform: translate3d(0, -4px, 0);
	}

	.menu-btn li:last-child {
		transform: translate3d(0, 4px, 0);
	}

	.menu-btn--on li:first-child {
		transform: rotate(135deg) translate3d(0, 0, 0);
	}

	.menu-btn li:nth-child(2) {
		display: none;
	}

	.menu-btn--on li:nth-child(2) {
		display: block;
	}

	.menu-btn--on li:last-child {
		transform: rotate(-135deg) translate3d(0, 0, 0);
	}

	.menu-btn--on li:nth-child(2) {
		opacity: 0;
	}

	.menu--open {
		transform: translate3d(0, 0, 0);
	}


	a.menu-terms-link {
		display: inline-block;
		font-size: 18px;
		color: #fff;
		line-height: 27px;
		padding-bottom: 15px;

	}

	a.menu-terms-link:hover {
		text-decoration: none;
	}

	a.menu-terms-link:after {
		display:block;
		content: '';
		border-bottom: solid 3px #fff;  
		transform: scaleX(0);  
		transition: transform 250ms ease-in-out;
	}


	a.menu-terms-link:hover:after {
		transform: scaleX(1); transform-origin:   0% 50%;
	}

	.menu-terms {
		padding: 200px 15px 0 50px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.menu-terms-link-wrap {
		min-width: 209px;
		margin-bottom: auto;
	}

	.menu-terms-social {

		color: #fff;
		font-size: 16px;
	}

	.menu-terms-social div {
		cursor: pointer;
		
		transition: .5s;
	}

	.menu-terms-social div:hover {
		transform: translateY(-10px);
	}

	@keyframes FadeIn { 
		0% {
			opacity: 0;
			transform: scale(.1);
			transform: translateX(-50px);
		}

		85% {
			opacity: 1;
			transform: scale(1.05);
			transform: translateX(210px);
		}
		100% {
			transform: scale(1);
			transform: translateX(200px);
		}
	}

	.menu ul li {
		animation: FadeIn 1s linear;
		animation-fill-mode: both;
		margin-left: -200px;
	}


	.menu ul li:nth-child(1) {
		animation-delay: 0.5s;

	}

	.menu ul li:nth-child(2) {
		animation-delay: 0.8s;
	}
	.menu ul li:nth-child(3) {
		animation-delay: 1.1s;
	}
	.menu ul li:nth-child(4) {
		animation-delay: 1.4s;
	}

	.icon-block {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}


	.hero {
		background-image: url(../img/bg.jpg);
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 720px;
		margin-top: 79px;
	}

	.hero .container {
		padding-top: 50px;
	}

	.hero-title-wrap {
		background: #fff;

		width: 141px;
		color: #000;
		font-size: 45px;
		font-weight: 100;
		height: 46px;
		text-transform: uppercase;
		word-spacing: 14px;

	}

	.hero-title {
		line-height: 43px;
	}

	.hero-text-wrap {
		background: #fff;
		padding: 6px;
		width: 240px;
		color: #000;
		font-size: 15px;
		font-weight: 100;
		height: 90px;
		word-spacing: 5px;
		letter-spacing: 1px;

		margin: 260px 0 0 112px;
	}
	.hero-text {
		line-height: 13px;
	}

	.philosoph {

		min-height: 720px;
		position: relative;
		z-index: -1;
	}

	.philosoph-right {
		position: absolute;
		right: 0;
		top: 0;
	}
	.philosoph-right img {
		width: 100%;
	}

	.philosoph-left {
		padding-top: 40px;
		padding-right: 40px;
	}

	.philosoph-title {
		text-transform: uppercase;
		font-size: 45px;
		font-weight: 100;
	}

	.philosoph-subtitle {
		font-size: 15px;
	}

	.philosoph-text {
		width: 215px;
		font-size: 15px;
		padding-top: 130px;
	}

	.glasses {
		margin-top: 335px;
	}
	.glasses-text {
		margin-bottom: 81px;
	}


	.glasses-left img {
		width: 280px;
		height: 280px;
		
	}

	.glasses-left {
		padding: 0px 0 100px 50px;
	}

	.glasses-right {
		width: 240px;
	}
