@media (min-width: 1255px ) {
	.menu .menu-wrap {
		margin-right: auto;
	}
}

@media (max-width: 1255px ) {
	.menu-img-wrap {

		order:3;
		margin-left: auto;
	}

	.menu-terms-link-wrap {
		margin-top: auto;
	}

	.menu-terms {

		position: absolute;
		bottom: 0;
	}

	.menu-terms {
		padding-top: 0;
	}

	.menu .menu-wrap {
		padding-top: 115px;
	}

	.menu-subtitle {
		margin-bottom: 0;
	}
}

@media (max-width: 1200px ) {
	.philosoph-right {
		max-width: 665px;
	}
	.glasses {
		margin-top: 175px;
	}
}

@media (max-width: 992px ) {
	.philosoph-right {
		top: 191px;
		max-width: 100%;
		width: 100%;
		position: initial;
	}

	.philosoph-left {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}
	.philosoph-text {
		padding-top: 0;
	}

	.glasses {
		margin-top: 100px;
	}
	.hero {
		min-height: 600px;
	}
}

@media (max-width: 979px ) {
	.menu-img-wrap {
		display: none;
		
	}

}

@media (max-width: 768px ) {
	.glasses {
		flex-direction: column-reverse;
		margin-top: 45px;
	}
	.glasses-right {
		margin-right: auto;
	}
	.glasses-left {
		padding-left: 0;
		padding-bottom: 65px;
	}
	.glasses-text {
		margin-bottom: 55px;
	}
}

@media (max-width: 600px ) {
	.logo-wrap {
		padding-left: 20px;
	}

	.menu li a {
		font-size: 30px;
	}

	.menu .menu-wrap, .menu-terms {
		padding-left: 0;
	}

	
	.hero-text-wrap {
		margin: 260px auto;
	}
	.icon-block{
		display: none;
	}

	.icon-block-menu {
		visibility: visible;
	}

	.philosoph-left {
		flex-wrap: wrap;
	}

	.philosoph-text {
		padding-top: 130px;
	}

	.philosoph-right {
		top: 315px
	}
	.menu-subtitle {
		margin-bottom: 365px;
	}

}

@media (max-width: 496px ) {
	.philosoph-text {
		padding-top: 0px;
	}

	.philosoph-right {
		top: 266px;
	}

	.hero {

	}
}

@media (max-width: 375px ) {
	.menu-terms {
		padding-bottom: 80px;
	}

}

@media (max-width: 340px ) {
	.menu-terms {
		padding-bottom: 120px;
	}

}