doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet" href="css/main.min.css")
    link(rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16")

    title C-CRYPTO
  body
    include sections/popup
    include sections/header
    include sections/hero
    include sections/bidding
    include sections/instruments
    include sections/footer
    script(src="js/script3.min.js")