section.bidding
	.bidding__container.mx-auto.d-flex
		.bidding__top 
			.bidding__line
			.bidding__top-text 3 в 1
			.bidding__line
		.bidding__bottom
			.bidding__item
				.bidding__img-wrap
					img.bidding__img(src="images/icon1.png" alt="img")
				.bidding__content
					.bidding__item-title Современная платформа
					.bidding__item-text Быстрая и надежная.Моментальное открытие сделок в 1 клик по наилучшей цене
			.bidding__item
				.bidding__img-wrap
					img.bidding__img(src="images/icon2.png" alt="img")
				.bidding__content
					.bidding__item-title Встроенные прогнозирующие индикаторы
					.bidding__item-text Повышают точность прогнозов и количество прибыльных сделок
			.bidding__item
				.bidding__img-wrap
					img.bidding__img(src="images/icon3.png" alt="img")
				.bidding__content
					.bidding__item-title База стратегий
					.bidding__item-text Секреты успешных трейдеров в ваших руках.Четкие правила и все расчеты для реального заработка на криптовалютах