section.header#header
	.header__container.mx-auto.d-flex
		.header__logo-wrap
			img.header__logo.img-fluid(src="images/logo.png" alt="img")
		nav.header__nav
			a.header__nav-link(href="#instruments") Торговые условия
			a.header__nav-link(href="#hero") Регистрация