body {
	font-family: 'Lato', sans-serif!important;
	color: #fff;
}

html {
	width: 100%;
	overflow-x: hidden;
	
}

h1,h2,h3,h4,h5,p,ul {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
}

ul li {
	list-style-type: none;
}

a, a:hover {
	text-decoration: none;
}

.container {
	max-width: 1000px;
	width: 100%;
}


.top-line {
	background-color: #002258;
	height: 40px;
}

.top-line .container {
	align-items: center;
	padding-top: 7px;
}

.social i {
	width: 25px;
	height: 25px;
	color: #fff;
	border-radius: 20px;
	font-size: 13px;
	border: 1px solid #fff;
	text-align: center;
	padding-top: 6px;
	margin-right: 12px;
}

.top-phone {
	margin-left: 32px;
	color: #fff;
	font-weight: 100;
	transition: .3s;
	border-bottom: 1px solid transparent;
	font-size: 14px;
	white-space: pre;
}
.top-phone:hover {
	border-bottom-color: #fff;
	color: #fff;
}

.fab {
	transition: .3s;
}
.fa-facebook-f:hover {
	background-color: #3b5999;
}
.fa-twitter:hover {
	background-color: #55acee;
}
.fa-google-plus-g:hover {
	background-color: #dd4b39;
}

.navbar {
	background: none!important;
	margin: 12px 0 9px;
	
}

.navbar-brand {
	font-size: 30px;
	margin-right: 50px;
	border: 1px solid #002258;
	padding: 16px 100px;
	color: #002258!important;
}

.navbar-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.nav-link {
	font-size: 13px;
	text-transform: uppercase;
	color: #002258!important;
	transition: width .3s;
}

.nav-link:hover {
	color: #fff;
}

.nav-link::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #002258;
	transition: width .3s;
}

.nav-link:hover::after {
	width: 100%;
	transition: width .3s;
}

.slick-dots {
	bottom: 12px;
}

.slick-dots li button:before {
	font-size: 12px;
}

li.slick-active button {
	background-color: #fff!important;
}

.slick-dots li button{
	display: block;
	width: 13px;
	height: 13px;
	padding: 0;

	border: none;
	border-radius: 100%;
	background-color: transparent;
	border: 1px solid #fff;

	text-indent: -9999px;
}

.slider-item {
	position: relative;
}

.slider-text {
	position: absolute;
	background: rgba(0,0,0,.6);
	width: 100%;
	padding: 40px 0 15px 70px;
	/* transform: translate(-50%, -50%); */
	top: 30%;
	/* left: 10%; */
}



.slider-text h2 {
	font-size: 52px;

}
.slider-text span {
	display: block;
	font-size: 42px;
}

.slider-text h4 {
	font-size: 13px;
	padding-top: 10px;
}

.products .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}

.products-title {
	font-size: 24px;
	color: #002258;
	text-transform: uppercase;
	padding-bottom: 15px;
	display: block;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
}

.products-item {
	max-width: 196px;
	height: auto;
	margin: 5px 5px;
	position: relative;
	transition: .5s;
	overflow: hidden;	
}
.products-desc {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.6);
	text-align: center;
	font-size: 13px;
	font-weight: 300;
	min-height: 50px;
	line-height: 50px;
	text-transform: uppercase;	
	transition: .5s;
}
.products-item:hover .products-desc{
	height: 100%;	
	line-height: 200px;

}


/* .products-desc h3 {
	font-size: 13px;
	font-weight: 300;
	} */

	.products-item:first-child {
		margin-left: 0;
	}

	.products-item:last-child {
		margin-right: 0;
	}

	.portf {
		margin: 40px 0;	
	}

	.portf-img {
		position: relative;		
	}

	.portf-img h3 {
		font-size: 48px;	
		text-align: center;	
		font-weight: 300;	
		position: absolute;	
		transform: translate(-50%, -50%);
		top: 50%;	
		left: 50%;	
		text-transform: uppercase;	
		width: 100%;	
	}

	.footer {
		background-color: #011432;
		min-height: 55px;	
		width: 100%;	
	}
	.footer .container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;	
		justify-content: space-between;	
		line-height: 55px;	
	}
	.copy {
		font-size: 11px;	
	}

	.footer a {
		color: #fff;
		font-size: 14px;	
		border-left: 1px solid #fff;
		align-items: center	;
		text-transform: uppercase;	
		padding: 0 15px;	
		border-bottom: 1px solid transparent;
		transition: .3s;

	}

	.footer a:hover {
		color: #7b7878;
	}

	.footer a:first-child {
		border-left: none;
	}

	.products-item{
		animation-duration: 2s;
		animation-delay: .5s;

	}


	@media (max-width: 768px) {

		.products-title {
			text-align: center;	
		}

		.products-item:last-child {
			margin-right: 5px;	

		}

		.products-item:first-child {
			margin-left: 5px;	
		}

		.products-item {
			margin-right: 0;
			margin-top: 0;	
			margin-bottom: 0;	
		}

		.slider-text {
			padding: 10px 0 15px 40px;
			top: 15%;
		}

		.slider-text h2 {
			font-size: 38px;
		}

		.slider-text span {
			font-size: 30px;
		}

		.products .container {
			flex-wrap: wrap;
			justify-content: center;
		}
		.container .products-item {
			max-width: 300px;
			width: 100%;
			margin-bottom: 10px;
			height: auto;
		}

		.portf-img:first-child {
			margin-bottom: 15px;	
		}

	}

	@media (max-width: 520px) {
		.footer .container {
			flex-wrap: wrap;
			justify-content: center;	
		}
		.portf-img h3 {
			font-size: 30px;	
		}
	}

	@media (max-width: 480px) {
		.slider-text {
			display: none;
		}
		.navbar-brand {
			padding: 10px 48px;
		}

	}