.works {

    z-index: 1;
    
    color: #fff;
    height: 100%;
     font-family: 'Marvel', sans-serif;
}
h2,h3 {
	margin: 0;
}
ul {
	list-style-type: none;
}
img {
	width: 100%;
	height: auto;
}
.worksLine {
	display: inline-block;
    width: 20px;
    height: 1px;
    background: #827f7f;
    margin-bottom: 7px;
    margin-right: 20px;
}

.worksNumberRight {
	top: 20px;
    position: absolute;
    right: -103px;	
    font-size: 24px;
    color: #827f7f;
    font-family: 'Open Sans Condensed', sans-serif;
}
.worksNumber {
	top: 20px;
    position: absolute;
    left: -95px;
    font-size: 24px;
    color: #827f7f;
    font-family: 'Open Sans Condensed', sans-serif;
}
.worksImg {
	opacity: 0.6;
	height: auto;
	max-width: 800px;
}
.worksTitle {
	color: #fff;
/*     font-family: 'Acme', sans-serif; */
    font-family: 'Marvel', sans-serif;
    font-size: 55px;
    margin: 0;
   
    padding-left: 15%;
    font-weight: 700;
}
.worksSubtitle {
	padding-bottom: 120px;
    padding-left: 15%;
    font-family: 'Marvel', sans-serif;
    color: #827f7f;
    font-size: 18px;
    margin: 0;
}
.worksIn {
	width: 80%;
	margin: auto;
}
.worksItem {
   padding-bottom: 200px;
    display: block;
    max-width: 550px;
    position: relative;
}
.worksItemTitle {
	position: absolute;
    top: 60px;
    left: -100px;
    text-transform: uppercase;
    font-family: 'Marvel', sans-serif;
    font-size: 60px;
    letter-spacing: 5px
}
.worksLink {
	color: #fff;
    padding: 13px 60px;


    position: absolute;
    left: -100px;
    top: 215px;
    font-size: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
   
/*   background-color: #9F513E;
  background: -webkit-linear-gradient(top, #bd6853, #9F513E);
  background:    -moz-linear-gradient(top, #bd6853, #9F513E);
  background:     -ms-linear-gradient(top, #bd6853, #9F513E);
  background:      -o-linear-gradient(top, #bd6853, #9F513E);
     background: linear-gradient(to bottom, #585552, #2b1a16);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2);
  text-shadow: 0 1px 0 rgba(220, 128, 105, 0.7), 0 -1px rgba(138, 66, 49, 0.5);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
          transition: all 1s ease; */
          background: rgba(255,255,255,.2);
    border: 1px solid #fff;
    transition: 1s;
}
.worksLink:hover {

    background: #eee;
     color: #000;
  
}
.odd {
	margin-right: auto;
}
.even {
	margin-left: auto;
}
.rightPos {
	/* right: -165px; */
	left: 446px;	
  /* text-align: right; */
}

.Tilt {
	position: relative;
}

@media only screen and (max-width: 1100px) { 
	.worksNumberRight, .worksNumber {
	
		display: none;
	}
	.worksItem {
		margin: auto;
	}
	.worksItemTitle.rightPos {
		margin-left: 38px;
	}
	.worksItemTitle.rightPos.ml {
		margin-left: 0;
	}
	.worksItemTitle {
		font-size: 40px;
		top: 235px;
		left: 125px;
		transform: translate(-50%,-50%);
		text-shadow: 1px 1px 2px rgba(255, 255,255,.6);
	}
	.worksLink {
		top: auto;	
		left: 20px;	
		margin-top: -33px;	
	}

}

@media only screen and (max-width: 750px) { 
  
  .worksTitle {
  	font-size: 45px;
  	

  }
  .worksItemTitle {
/*   	width: 200px; */
  	font-size: 27px;
  	top: -10%;
  	left: 50%;
  }
 .worksImg {
 	max-width: 345px;
    display: block;
    margin: auto;
    height: auto;
 }
 .worksLink {
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	margin: 0;
	background: rgba(255,255,255,.2);
    border: 1px solid #fff;

 }
 .worksItemTitle.rightPos {
 	margin-left: 0;
 }
  
}

    
