
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab:300,400,700');:root {

  /* Decorative styles */
  --ui-light-shade-color: #fff;
  --ui-light-accent-color: #f7f7f7;
  --ui-brand-color: #d70044;
  --ui-dark-accent-color: #333535;
  --ui-dark-shade-color: #251d24;

  /* Background */
  --ui-block-bg: #333535;
  --ui-media-bg: #f7f7f7;

  /* Hero title */
  --ui-hero-title-size: 80px;
  --ui-hero-title-color: #fff;
  --ui-hero-title-line-height: 1.125;
  --ui-hero-title-font-family: "Roboto Slab", serif;
  --ui-hero-title-font-weight: 400;
  
  /* Block Title */
  --ui-block-title-size: 34px;
  --ui-block-title-color: #fff;
  --ui-block-title-line-height: 1.3529;
  --ui-block-title-font-family: "Roboto Slab", serif;
  --ui-block-title-font-weight: 700;
  
  /* Subtitle */
  --ui-subtitle-size: 20px;
  --ui-subtitle-color: #fff;
  --ui-subtitle-line-height: 1.5;
  --ui-subtitle-font-family: "Roboto Slab", serif;
  --ui-subtitle-font-weight: 400;
  
  /* Large Heading */
  --ui-heading-lg-size: 28px;
  --ui-heading-lg-color: #fff;
  --ui-heading-lg-line-height: 1.4285;
  --ui-heading-lg-font-family: "Roboto Slab", serif;
  --ui-heading-lg-font-weight: 700;
  
  /* Heading */
  --ui-heading-size: 26px;
  --ui-heading-color: #fff;
  --ui-heading-line-height: 1.3076;
  --ui-heading-font-family: "Roboto Slab", serif;
  --ui-heading-font-weight: 400;
  
  /* Subheading */
  --ui-subheading-size: 24px;
  --ui-subheading-color: #fff;
  --ui-subheading-line-height: 1.4166;
  --ui-subheading-font-family: "Roboto Slab", serif;
  --ui-subheading-font-weight: 400;
  
  /* Simple text */
  --ui-text-size: 16px;
  --ui-text-color: #6e7173;
  --ui-text-line-height: 1.625;
  --ui-text-font-family: "Roboto Slab", serif;
  --ui-text-font-weight: 300;
  
  /* Caption text */
  --ui-caption-size: 11px;
  --ui-caption-color: #fff;
  --ui-caption-line-height: 1.8181;
  --ui-caption-font-family: "Montserrat", Helvetica, sans-serif;
  --ui-caption-font-weight: 400;
  
  /* Small text */
  --ui-small-size: 11px;
  --ui-small-color: #fff;
  --ui-small-line-height: 1.8181;
  --ui-small-font-family: "Montserrat", Helvetica, sans-serif;
  --ui-small-font-weight: 400;
  
  /* Quote text */
  --ui-quote-size: 14px;
  --ui-quote-color: #fff;
  --ui-quote-line-height: 1.2;
  --ui-quote-font-family: "Montserrat", Helvetica, sans-serif;
  --ui-quote-font-weight: 400;
  
  /* Link */
  
  --ui-link-color: #fff;
  --ui-link-hover-color: #d70044;
  
  /* Primary button */
  --ui-btn-primary-color: #fff;
  --ui-btn-primary-bg: #d70044;
  --ui-btn-primary-border-width: 1px;
  --ui-btn-primary-border-style: solid;
  --ui-btn-primary-border-color: transparent;
  --ui-btn-primary-shadow-x: 0;
  --ui-btn-primary-shadow-y: 0;
  --ui-btn-primary-shadow-blur: 0;
  --ui-btn-primary-shadow-spread: 0;
  --ui-btn-primary-shadow-color: none;

  --ui-btn-primary-hover-color: #fff;
  --ui-btn-primary-hover-bg: #d70044;
  --ui-btn-primary-hover-border-width: 1px;
  --ui-btn-primary-hover-border-style: solid;
  --ui-btn-primary-hover-border-color: transparent;
  --ui-btn-primary-hover-shadow-x: 0;
  --ui-btn-primary-hover-shadow-y: 7px;
  --ui-btn-primary-hover-shadow-blur: 20px;
  --ui-btn-primary-hover-shadow-spread: 0;
  --ui-btn-primary-hover-shadow-color: rgba(249, 0, 66, 0.5);

  --ui-btn-primary-active-color: #fff;
  --ui-btn-primary-active-bg: #d70044;
  --ui-btn-primary-active-border-width: 1px;
  --ui-btn-primary-active-border-style: solid;
  --ui-btn-primary-active-border-color: transparent;
  --ui-btn-primary-active-shadow-x: 0;
  --ui-btn-primary-active-shadow-y: 7px;
  --ui-btn-primary-active-shadow-blur: 20px;
  --ui-btn-primary-active-shadow-spread: 0;
  --ui-btn-primary-active-shadow-color: rgba(249, 0, 66, 0.5);
  
  /* Alternative primary button */
  --ui-alt-btn-primary-color: #fff;
  --ui-alt-btn-primary-bg: #d70044;
  --ui-alt-btn-primary-border-width: 1px;
  --ui-alt-btn-primary-border-style: solid;
  --ui-alt-btn-primary-border-color: transparent;
  --ui-alt-btn-primary-shadow-x: 0;
  --ui-alt-btn-primary-shadow-y: 0;
  --ui-alt-btn-primary-shadow-blur: 0;
  --ui-alt-btn-primary-shadow-spread: 0;
  --ui-alt-btn-primary-shadow-color: none;

  --ui-alt-btn-primary-hover-color: #fff;
  --ui-alt-btn-primary-hover-bg: #d70044;
  --ui-alt-btn-primary-hover-border-width: 1px;
  --ui-alt-btn-primary-hover-border-style: solid;
  --ui-alt-btn-primary-hover-border-color: transparent;
  --ui-alt-btn-primary-hover-shadow-x: 0;
  --ui-alt-btn-primary-hover-shadow-y: 7px;
  --ui-alt-btn-primary-hover-shadow-blur: 20px;
  --ui-alt-btn-primary-hover-shadow-spread: 0;
  --ui-alt-btn-primary-hover-shadow-color: rgba(249, 0, 66, 0.5);

  --ui-alt-btn-primary-active-color: #fff;
  --ui-alt-btn-primary-active-bg: #d70044;
  --ui-alt-btn-primary-active-border-width: 1px;
  --ui-alt-btn-primary-active-border-style: solid;
  --ui-alt-btn-primary-active-border-color: transparent;
  --ui-alt-btn-primary-active-shadow-x: 0;
  --ui-alt-btn-primary-active-shadow-y: 7px;
  --ui-alt-btn-primary-active-shadow-blur: 20px;
  --ui-alt-btn-primary-active-shadow-spread: 0;
  --ui-alt-btn-primary-active-shadow-color: rgba(249, 0, 66, 0.5);

  /* Secondary button */
  --ui-btn-secondary-color: #323435;
  --ui-btn-secondary-bg: #fff;
  --ui-btn-secondary-border-width: 1px;
  --ui-btn-secondary-border-style: solid;
  --ui-btn-secondary-border-color: #fff;
  --ui-btn-secondary-shadow-x: 0;
  --ui-btn-secondary-shadow-y: 0;
  --ui-btn-secondary-shadow-blur: 0;
  --ui-btn-secondary-shadow-spread: 0;
  --ui-btn-secondary-shadow-color: none;

  --ui-btn-secondary-hover-color: #fff;
  --ui-btn-secondary-hover-bg: #514a50;
  --ui-btn-secondary-hover-border-width: 1px;
  --ui-btn-secondary-hover-border-style: solid;
  --ui-btn-secondary-hover-border-color: #514a50;
  --ui-btn-secondary-hover-shadow-x: 0;
  --ui-btn-secondary-hover-shadow-y: 0;
  --ui-btn-secondary-hover-shadow-blur: 0;
  --ui-btn-secondary-hover-shadow-spread: 0;
  --ui-btn-secondary-hover-shadow-color: none;

  --ui-btn-secondary-active-color: #fff;
  --ui-btn-secondary-active-bg: #514a50;
  --ui-btn-secondary-active-border-width: 1px;
  --ui-btn-secondary-active-border-style: solid;
  --ui-btn-secondary-active-border-color: #514a50;
  --ui-btn-secondary-active-shadow-x: 0;
  --ui-btn-secondary-active-shadow-y: 0;
  --ui-btn-secondary-active-shadow-blur: 0;
  --ui-btn-secondary-active-shadow-spread: 0;
  --ui-btn-secondary-active-shadow-color: none;
  
  /* Alternative secondary button */
  --ui-alt-btn-secondary-color: #323435;
  --ui-alt-btn-secondary-bg: #fff;
  --ui-alt-btn-secondary-border-width: 1px;
  --ui-alt-btn-secondary-border-style: solid;
  --ui-alt-btn-secondary-border-color: #fff;
  --ui-alt-btn-secondary-shadow-x: 0;
  --ui-alt-btn-secondary-shadow-y: 0;
  --ui-alt-btn-secondary-shadow-blur: 0;
  --ui-alt-btn-secondary-shadow-spread: 0;
  --ui-alt-btn-secondary-shadow-color: none;

  --ui-alt-btn-secondary-hover-color: #fff;
  --ui-alt-btn-secondary-hover-bg: #514a50;
  --ui-alt-btn-secondary-hover-border-width: 1px;
  --ui-alt-btn-secondary-hover-border-style: solid;
  --ui-alt-btn-secondary-hover-border-color: #514a50;
  --ui-alt-btn-secondary-hover-shadow-x: 0;
  --ui-alt-btn-secondary-hover-shadow-y: 0;
  --ui-alt-btn-secondary-hover-shadow-blur: 0;
  --ui-alt-btn-secondary-hover-shadow-spread: 0;
  --ui-alt-btn-secondary-hover-shadow-color: none;

  --ui-alt-btn-secondary-active-color: #fff;
  --ui-alt-btn-secondary-active-bg: #514a50;
  --ui-alt-btn-secondary-active-border-width: 1px;
  --ui-alt-btn-secondary-active-border-style: solid;
  --ui-alt-btn-secondary-active-border-color: #514a50;
  --ui-alt-btn-secondary-active-shadow-x: 0;
  --ui-alt-btn-secondary-active-shadow-y: 0;
  --ui-alt-btn-secondary-active-shadow-blur: 0;
  --ui-alt-btn-secondary-active-shadow-spread: 0;
  --ui-alt-btn-secondary-active-shadow-color: none;

  /* btn sm size */
  --ui-btn-sm-padding: 12px 15px;
  --ui-btn-sm-border-radius: 5px;
  --ui-btn-sm-size: 11px;

  /* btn md size */
  --ui-btn-md-padding: 14px 20px;
  --ui-btn-md-border-radius: 5px;
  --ui-btn-md-size: 11px;

  /* btn lg size */
  --ui-btn-lg-padding: 24px 30px;
  --ui-btn-lg-border-radius: 5px;
  --ui-btn-lg-size: 11px;
  
  /* Decorative borders */
  
  --ui-border-color: #969b9d;

  /* Container */
  --ui-content-container: 1200px;
  --ui-content-gutter: 0 15px;
  
  /* Expanded menu background */
  
  --ui-expanded-menu-bg: #251d24;
  
  /* Icons */
  
  --ui-icon-color: #333535;
}.button {
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  text-align: center;
  font-family: var(--ui-caption-font-family);
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.2s ease-in, background-color 0.2s ease-in, border-color 0.2s ease-in, box-shadow 0.2s ease-in;
  word-wrap: break-word;
}.button--primary {
    background-color: var(--ui-btn-primary-bg);
    color: var(--ui-btn-primary-color);
    border: var(--ui-btn-primary-border-width) var(--ui-btn-primary-border-style) var(--ui-btn-primary-border-color);
    box-shadow: var(--ui-btn-primary-shadow-x) var(--ui-btn-primary-shadow-y) var(--ui-btn-primary-shadow-blur) var(--ui-btn-primary-shadow-spread) var(--ui-btn-primary-shadow-color);
  }.button--primary:hover,
    .button--primary:focus {
      background-color: var(--ui-btn-primary-hover-bg);
      color: var(--ui-btn-primary-hover-color);
      border: var(--ui-btn-primary-hover-border-width) var(--ui-btn-primary-hover-border-style) var(--ui-btn-primary-hover-border-color);
      box-shadow: var(--ui-btn-primary-hover-shadow-x) var(--ui-btn-primary-hover-shadow-y) var(--ui-btn-primary-hover-shadow-blur) var(--ui-btn-primary-hover-shadow-spread) var(--ui-btn-primary-hover-shadow-color);
    }.button--primary:active {
      background-color: var(--ui-btn-primary-active-bg);
      color: var(--ui-btn-primary-active-color);
      border: var(--ui-btn-primary-active-border-width) var(--ui-btn-primary-active-border-style) var(--ui-btn-primary-active-border-color);
      box-shadow: var(--ui-btn-primary-active-shadow-x) var(--ui-btn-primary-active-shadow-y) var(--ui-btn-primary-active-shadow-blur) var(--ui-btn-primary-active-shadow-spread) var(--ui-btn-primary-active-shadow-color);
    }.button--primary-alt {
      background-color: var(--ui-alt-btn-primary-bg);
      color: var(--ui-alt-btn-primary-color);
      border: var(--ui-alt-btn-primary-border-width) var(--ui-alt-btn-primary-border-style) var(--ui-alt-btn-primary-border-color);
      box-shadow: var(--ui-alt-btn-primary-shadow-x) var(--ui-alt-btn-primary-shadow-y) var(--ui-alt-btn-primary-shadow-blur) var(--ui-alt-btn-primary-shadow-spread) var(--ui-alt-btn-primary-shadow-color);
    }.button--primary-alt:hover,
      .button--primary-alt:focus {
        background-color: var(--ui-alt-btn-primary-hover-bg);
        color: var(--ui-alt-btn-primary-hover-color);
        border: var(--ui-alt-btn-primary-hover-border-width) var(--ui-alt-btn-primary-hover-border-style) var(--ui-alt-btn-primary-hover-border-color);
        box-shadow: var(--ui-alt-btn-primary-hover-shadow-x) var(--ui-alt-btn-primary-hover-shadow-y) var(--ui-alt-btn-primary-hover-shadow-blur) var(--ui-alt-btn-primary-hover-shadow-spread) var(--ui-alt-btn-primary-hover-shadow-color);
      }.button--primary-alt:active {
        background-color: var(--ui-alt-btn-primary-active-bg);
        color: var(--ui-alt-btn-primary-active-color);
        border: var(--ui-alt-btn-primary-active-border-width) var(--ui-alt-btn-primary-active-border-style) var(--ui-alt-btn-primary-active-border-color);
        box-shadow: var(--ui-alt-btn-primary-active-shadow-x) var(--ui-alt-btn-primary-active-shadow-y) var(--ui-alt-btn-primary-active-shadow-blur) var(--ui-alt-btn-primary-active-shadow-spread) var(--ui-alt-btn-primary-active-shadow-color);
      }.button--secondary {
    background-color: var(--ui-btn-secondary-bg);
    color: var(--ui-btn-secondary-color);
    border: var(--ui-btn-secondary-border-width) var(--ui-btn-secondary-border-style) var(--ui-btn-secondary-border-color);
    box-shadow: var(--ui-btn-secondary-shadow-x) var(--ui-btn-secondary-shadow-y) var(--ui-btn-secondary-shadow-blur) var(--ui-btn-secondary-shadow-spread) var(--ui-btn-secondary-shadow-color);
  }.button--secondary:hover,
    .button--secondary:focus {
      background-color: var(--ui-btn-secondary-hover-bg);
      color: var(--ui-btn-secondary-hover-color);
      border: var(--ui-btn-secondary-hover-border-width) var(--ui-btn-secondary-hover-border-style) var(--ui-btn-secondary-hover-border-color);
      box-shadow: var(--ui-btn-secondary-hover-shadow-x) var(--ui-btn-secondary-hover-shadow-y) var(--ui-btn-secondary-hover-shadow-blur) var(--ui-btn-secondary-hover-shadow-spread) var(--ui-btn-secondary-hover-shadow-color);
    }.button--secondary:active {
      background-color: var(--ui-btn-secondary-active-bg);
      color: var(--ui-btn-secondary-active-color);
      border: var(--ui-btn-secondary-active-border-width) var(--ui-btn-secondary-active-border-style) var(--ui-btn-secondary-active-border-color);
      box-shadow: var(--ui-btn-secondary-active-shadow-x) var(--ui-btn-secondary-active-shadow-y) var(--ui-btn-secondary-active-shadow-blur) var(--ui-btn-secondary-active-shadow-spread) var(--ui-btn-secondary-active-shadow-color);
    }.button--secondary-alt {
      background-color: var(--ui-alt-btn-secondary-bg);
      color: var(--ui-alt-btn-secondary-color);
      border: var(--ui-alt-btn-secondary-border-width) var(--ui-alt-btn-secondary-border-style) var(--ui-alt-btn-secondary-border-color);
      box-shadow: var(--ui-alt-btn-secondary-shadow-x) var(--ui-alt-btn-secondary-shadow-y) var(--ui-alt-btn-secondary-shadow-blur) var(--ui-alt-btn-secondary-shadow-spread) var(--ui-alt-btn-secondary-shadow-color);  
    }.button--secondary-alt:hover,
      .button--secondary-alt:focus {
        background-color: var(--ui-alt-btn-secondary-hover-bg);
        color: var(--ui-alt-btn-secondary-hover-color);
        border: var(--ui-alt-btn-secondary-hover-border-width) var(--ui-alt-btn-secondary-hover-border-style) var(--ui-alt-btn-secondary-hover-border-color);
        box-shadow: var(--ui-alt-btn-secondary-hover-shadow-x) var(--ui-alt-btn-secondary-hover-shadow-y) var(--ui-alt-btn-secondary-hover-shadow-blur) var(--ui-alt-btn-secondary-hover-shadow-spread) var(--ui-alt-btn-secondary-hover-shadow-color);
      }.button--secondary-alt:active {
        background-color: var(--ui-alt-btn-secondary-active-bg);
        color: var(--ui-alt-btn-secondary-active-color);
        border: var(--ui-alt-btn-secondary-active-border-width) var(--ui-alt-btn-secondary-active-border-style) var(--ui-alt-btn-secondary-active-border-color);
        box-shadow: var(--ui-alt-btn-secondary-active-shadow-x) var(--ui-alt-btn-secondary-active-shadow-y) var(--ui-alt-btn-secondary-active-shadow-blur) var(--ui-alt-btn-secondary-active-shadow-spread) var(--ui-alt-btn-secondary-active-shadow-color);
      }.button--size-sm {
      padding: var(--ui-btn-sm-padding);
      border-radius: var(--ui-btn-sm-border-radius);
      font-size: var(--ui-btn-sm-size);
    }.button--size-md {
      padding: var(--ui-btn-md-padding);
      border-radius: var(--ui-btn-md-border-radius);
      font-size: var(--ui-btn-md-size);
    }.button--size-lg {
      padding: var(--ui-btn-lg-padding);
      font-size: var(--ui-btn-lg-size);
      border-radius: var(--ui-btn-lg-border-radius);
    }.section {
  min-width: 320px;
  padding: 30px 0;

  /* background-color: var(--ui-block-bg); */
  font-size: var(--ui-text-size);
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
  font-weight: var(--ui-text-font-weight);
  font-family: var(--ui-text-font-family);
  word-wrap: break-word;
}@media (min-width: 992px) {.section {
    padding: 60px 0
}
  }.section__inner {
    max-width: var(--ui-content-container);
    margin: 0 auto;
    padding: var(--ui-content-gutter);
  }.title {
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: calc(var(--ui-block-title-size) * 0.75);
  color: var(--ui-block-title-color);
  line-height: var(--ui-block-title-line-height);
  font-family: var(--ui-block-title-font-family);
  font-weight: var(--ui-block-title-font-weight);
}@media (min-width: 768px) {.title {
    font-size: var(--ui-block-title-size)
}
  }.subtitle {
  max-width: 680px;
  margin: 0 auto;
  text-align: center;
  font-size: calc(var(--ui-subtitle-size) * 0.9);
  color: var(--ui-subtitle-color);
  line-height: var(--ui-subtitle-line-height);
  font-family: var(--ui-subtitle-font-family);
  font-weight: var(--ui-subtitle-font-weight);
}@media (min-width: 768px) {.subtitle {
    font-size: var(--ui-subtitle-size)
}
  }@media (min-width: 992px) {.subtitle {
    max-width: 970px
}
  }.counter {
  display: flex;
  max-width: 970px;
  margin: 50px auto;
  justify-content: center;
  flex-wrap: nowrap;
}@media (min-width: 768px) {.counter {
    margin: 50px auto 60px;
    flex-wrap: wrap
}
  }.counter__item {
    padding: 0 8px;
    flex-basis: 25%;
    max-width: 25%;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
  }@media (min-width: 768px) {.counter__item {
      padding: 0 10px;
      border-left: 1px solid var(--ui-border-color)
  }

      .counter__item:first-child {
        border-left: 0;
      }
    }.counter__text {
    font-size: calc(var(--ui-text-size) * 0.875);
  }@media (min-width: 768px) {.counter__text {
      font-size: var(--ui-text-size)
  }
    }.counter__number {
    display: block;
    font-size: calc(var(--ui-block-title-size) * 0.75);
    color: var(--ui-block-title-color);
    line-height: var(--ui-block-title-line-height);
    font-family: var(--ui-block-title-font-family);
    font-weight: 600;
  }@media (min-width: 768px) {.counter__number {
      font-size: var(--ui-block-title-size)
  }
    }.form {
  margin: 0 auto 49px;
}@media (min-width: 768px) {.form {
    max-width: 425px;
    margin: 0 auto 50px
}
  }.form__title {
    margin-bottom: 19px;
    text-align: center;
    font-size: calc(var(--ui-heading-size) * 0.8334);
    color: var(--ui-heading-color);
    line-height: var(--ui-heading-line-height);
    font-family: var(--ui-heading-font-family);
    font-weight: var(--ui-heading-font-weight);
  }@media (min-width: 768px) {.form__title {
      margin-bottom: 20px;
      font-size: var(--ui-heading-size)
  }
    }.form__inner {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }@media (min-width: 768px) {.form__inner {
      flex-direction: row
  }
    }.form__field {
    height: 56px;
    flex: 1;
    margin-bottom: 16px;
    font-size: inherit;
    color: inherit;
    padding-left: 20px;
    padding-right: 20px;
  
    /* background-color: var(--ui-block-bg); */
    border: 1px solid var(--ui-light-accent-color);
  }@media (min-width: 768px) {.form__field {
      margin-right: 10px;
      margin-bottom: 0
  }
    }.social {
  display: flex;
  justify-content: center;
}.social__item {
    width: 24px;
    height: 24px;
    margin-right: 24px;
  }.social__item:last-child {
      margin-right: 0;
    }.social__link {
    display: flex;
    height: 100%;
    color: inherit;
    text-decoration: none;
  }.social__link:hover,
    .social__link:active,
    .social__link:focus {
      color: var(--ui-brand-color);
    }.social__icon {
    max-width: 100%;
    max-height: 100%;
  }/* stylelint-disable */.section {
  padding: 93px 0 0 0;
  background-position: center;
}.title {
  text-transform: capitalize;
  margin-bottom: 34px;
  letter-spacing: -1px;
}.subtitle {
  color: #989495;
  max-width: 994px;
  line-height: 32px;
  
}.counter {
  max-width: 1170px;
  margin: 51px auto 90px;

}.counter__item {
  border-left: none;

}.counter__number {
  font-size: calc(var(--ui-hero-title-size) * 1.5);
  line-height: 130px;
}.counter__text{
  font-size: var(--ui-caption-size);
  line-height: 20px;
  
  padding-bottom: 25px;
  font-family: var(--ui-caption-font-family);
  
}.form {
  margin: 0 auto;
}.form__title {
  font-size: var(--ui-block-title-size);
  font-weight: bold;
  
}.form__inner {
  flex-direction: column;
}.form__field {
  max-width: 370px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: inherit;
  border: none;
  outline: none;
  border-bottom: 1px solid #444243;
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  
}::-webkit-input-placeholder {color:#fff;}::-moz-placeholder          {color:#fff;}:-moz-placeholder           {color:#fff;}:-ms-input-placeholder      {color:#fff;}:focus::-webkit-input-placeholder {color: transparent}:focus::-moz-placeholder          {color: transparent}:focus:-moz-placeholder           {color: transparent}:focus:-ms-input-placeholder      {color: transparent}.button {
  max-width: 210px;
  margin: 25px auto 64px;
  width: 100%;
  background: linear-gradient(to right, #FE0042,#AB0146);
  border: none;
  outline: none;

}.button:hover, .button:focus {
  border: none;
}.social {
  padding-bottom: 115px;
}.social__link {
  color: #323435;
}.social__item {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 4px;
}.social__icon {
  padding: 13px;
}









