section.earnings.mx-auto.d-flex
	.earnings__text.animated.zoomIn
		h2.earnings__title зарабатываем
			.earnings__title-big.animated.jackInTheBox на коррекции
			.earnings__subtitle Инвестируем в биткоин и просто ждем <br>возвращения его цены к прежнему уровню
	.earnings__calc
		.earnings__title-calc рассчитайте ваш доход
		.earnings__area
			.earnings__result-wrap
				output.earnings__result
			.earnings__input-wrap
				input.earnings__input-number(type="number" placeholder="Введите сумму инвестиций")
				.earnings__wrap-range
					input.earnings__input.earnings__input-range(type="range" value="0" min="0" max="100000" step="1")
