section.graph.mx-auto.d-flex
	//- h3.graph__title График роста биткоина 2016-2017
	.graph__graph 
		svg(xmlns='http://www.w3.org/2000/svg', version='1.1', viewbox='0 0 876 218')
	
			g(stroke='null')
				rect#canvas_background(stroke='null', fill='none', height='220', width='878', y='-1', x='-1')
			g(stroke='null')
				circle#svg_0.animated.bounceInDown(stroke='null', style='vector-effect: non-scaling-stroke;', fill='#ffb800', r='25', cy='190', cx='57')
				text#svg_1(transform='rotate(-89.92605590820312 43.06249999999998,94.99999999999999) ', stroke='null', fill='#fff', y='102', x='-69', font-size='15px') График роста биткоина
				text#svg_2(transform='rotate(-89.9547119140625 68.14062500000001,155.00000000000003) ', stroke='null', fill='#fff', y='162', x='17', font-size='15px') 2016-2017
				path#graph-line(stroke='yellow', stroke-width='2', d='m109.91538,192.69446c0,0 150,0 159,-2c12,-4 39,-1 46,-1c9,0 40,-6 70,-3c30,3 45,-7 51,-7c7,0 35,3 37,3c6,0 65,-18 81,-15l13.8,2.2c17.79999,-5.4 15.2,-8.2 24.2,-6.2c9,2 7.91893,0.43255 14.91893,0.43255c7,0 35.67575,-9.1083 43.54053,-12.27043c7.86479,-3.16212 16.29734,-2.62159 22.54054,-5.16212c6.24319,-2.54054 10.54053,-5.51362 21.54053,-2.51362c21,5 35.45947,9.51362 42.45947,5.51362c7,-4 16,-5 18,-7c2,-2 7.51361,-6.45947 16,-8c8.48638,-1.54054 6.25857,-9.17229 9.16085,-10.29734c2.90228,-1.12506 5.70059,7.43255 9.70059,6.43255c4,-1 19.13856,-29.86479 19.13856,-36.94585c0,-7.08106 3.3569,-57.84648 15.97436,-59.46808c12.61745,-1.62159 9.26883,29.57893 16.4851,32.08968c7.21628,2.51075 8.97436,-3.32378 10,-9.8366c1.02564,-6.51282 0.00207,-1.84616 4.46361,-9', fill='none')
				circle#svg_3.Circle.animated.bounceInDown(stroke='null', style='vector-effect: non-scaling-stroke;', fill='#fff', r='2', cy='191', cx='128')
				line#svg_4.line.animated.bounceInDown(stroke='#fff', stroke-dasharray="2, 2", style='vector-effect: non-scaling-stroke;', stroke-width='1.2', y2='192', x2='128', y1='98', x1='128')
				text#svg_5.text.animated.bounceInDown(stroke='null', fill='yellow', y='89', x='117', font-size='12px') 750$
				circle#svg_7.Circle.animated.bounceInDown(style='vector-effect: non-scaling-stroke;', stroke='null', r='3', cy='96', cx='128')
				circle#svg_8.Circle.animated.bounceInDown.anim-2(stroke='null', fill='#fff', r='2', cy='165', cx='545')
				line#svg_9.line.animated.bounceInDown.anim-2(stroke='#fff', stroke-dasharray="2, 2", stroke-width='1.2', y2='166', x2='545', y1='51', x1='545')
				text#svg_10.text.animated.bounceInDown.anim-2(stroke='null', fill='yellow', y='42', x='526', font-size='12px') 1300$
				circle#svg_11.Circle.animated.bounceInDown.anim-2(stroke='red', fill='yellow', r='3', cy='51', cx='544.5')
				circle#svg_12.Circle.animated.bounceInDown.anim-3(stroke='null', fill='#fff', r='1.5', cy='141', cx='688')
				line#svg_13.line.animated.bounceInDown.anim-3(stroke='#fff', stroke-dasharray="2, 2", stroke-width='1.2', y2='144', x2='688', y1='37', x1='688')
				text#svg_14.text.animated.bounceInDown.anim-3(style='vector-effect: non-scaling-stroke;', stroke='null', fill='yellow', y='28', x='668', font-size='12px') 2900$
				circle#svg_15.Circle.animated.bounceInDown.anim-3(stroke='null', fill='yellow', r='3', cy='36', cx='688')
				circle#svg_16.Circle.animated.bounceInDown.anim-4(stroke='null', fill='#fff', r='2', cy='123', cx='781')
				line#svg_17.line.animated.bounceInDown.anim-4(stroke='#fff', stroke-dasharray="2, 2", stroke-width='1.2', y2='124', x2='781', y1='69', x1='781')
				text#svg_18.text.animated.bounceInDown.anim-4(style='vector-effect: non-scaling-stroke;', stroke='null', fill='yellow', y='61', x='759', font-size='12px') 4600$
				circle#svg_19.Circle.animated.bounceInDown.anim-4(stroke='null', fill='yellow', r='3', cy='69', cx='781')
				circle#svg_20.Circle.animated.bounceInDown.anim-5(style='vector-effect: non-scaling-stroke;', stroke='null', fill='#fff', r='3', cy='19', cx='826')
				line#svg_21.line.animated.bounceInDown.anim-5(stroke='#fff', stroke-dasharray="2, 2", style='vector-effect: non-scaling-stroke;', stroke-width='1.2', y2='35', x2='826', y1='19', x1='826')
				text#svg_22.text.animated.bounceInDown.anim-5(style='vector-effect: non-scaling-stroke;', stroke='null', fill='yellow', y='12', x='786', font-size='12px') 19200$
				circle#svg_23.Circle.animated.bounceInDown.anim-5(style='vector-effect: non-scaling-stroke;', stroke='null', fill='yellow', r='2', cy='35', cx='826')
				circle#svg_24.Circle.animated.bounceInDown.anim-6(style='vector-effect: non-scaling-stroke;', stroke='null', fill='#fff', r='2', cy='45', cx='856')
				line#svg_25.line.animated.bounceInDown.anim-6(stroke='#fff', stroke-dasharray="2, 2", style='vector-effect: non-scaling-stroke;', stroke-width='1.2', y2='45', x2='856', y1='23', x1='856')
				text#svg_26.text.animated.bounceInDown.anim-6(style='vector-effect: non-scaling-stroke;', stroke='null', fill='yellow', y='19', x='831', font-size='12px') 16300$
				circle#svg_27.Circle.animated.bounceInDown.anim-6(stroke='null', style='vector-effect: non-scaling-stroke;', fill='yellow', r='3', cy='24', cx='856')
				line#svg_28.line.animated.bounceInLeft.anim-7(stroke='#C3C0C0', style='vector-effect: non-scaling-stroke;', stroke-dasharray="2,5" stroke-width='2', y2='201', x2='862', y1='201', x1='110')
				text#svg_29.text.animated.bounceInLeft.anim-7(stroke='null', fill='#C3C0C0', y='215', x='114', font-size='13px') 2016
				text#svg_30.text.animated.bounceInLeft.anim-7(stroke='null', fill='#C3C0C0', y='216', x='282', font-size='13px') январь
				text#svg_31.text.animated.bounceInLeft.anim-7(stroke='null', fill='#C3C0C0', y='216', x='411', font-size='13px') 2017
				text#svg_32.text.animated.bounceInLeft.anim-7(stroke='null', fill='#C3C0C0', y='215', x='528', font-size='13px') июль
				text#svg_33.text.animated.bounceInLeft.anim-7(stroke='null', fill='#C3C0C0', y='215', x='661', font-size='13px') октябрь
				text#svg_34.text.animated.bounceInLeft.anim-7(stroke='null', fill='#C3C0C0', y='215', x='815', font-size='13px') январь
	.graph__mobile
		img.graph__img.img-fluid(src="images/graph_mobile.png" alt="img")
