section.header.mx-auto.d-flex
		include logo
		include form
		.header__contacts.ml-auto
			a.header__contacts-item(href="#")
				.header__wrap-img
					img.header__contacts-picture(src="images/contact-phone.png" alt="picture")
				span.header__contacts-text +44 2033185252
			a.header__contacts-item(href="mailto:support@c-crypto.com")
				.header__wrap-img
					img.header__contacts-picture(src="images/contact-email.png" alt="picture")
				span.header__contacts-text support@c-crypto.com
		button.header__button(type="button") хочу зарабатывать!
			i.fa.fa-sort-down

