section.numbers.mx-auto.d-flex
	.numbers__current-cont.numbers__anim-1.animated.zoomIn
		.numbers__title.numbers__title-current
		span.numbers__symbol  $
		.numbers__subtitle стоимость биткоина в <br> данный момент
	.numbers__max-cont.numbers__anim-2.animated.zoomIn
		.numbers__title.numbers__title-max
		span.numbers__symbol  $
		.numbers__subtitle максимальная стоимость биткоина зафиксирована в декабре 2017
	.numbers__rise-cont.numbers__anim-3.animated.zoomIn
		.numbers__title.numbers__title-rise
		span.numbers__symbol  %
		.numbers__subtitle вырос биткоин с 2009 года