section.popup
	img.popup__close(src="images/close.png" alt="close")
	.popup__img-wrap
		img.popup__img(src="images/check_on.png" alt="img")
	.popup__text 
		.popup__title Спасибо!
		.popup__content Вы уже в одном шаге от зароботка на криптовалюте.
		.popup__content В ближайшее время с Вами свяжется наш менеджер для уточнения всех деталей