section.footer
	.footer__container.mx-auto
		.footer__top.d-flex
			.footer__pay
				.footer__pay-title Получайте заработанные средства удобным способом
				.footer__pay-cards
					img.footer__cards-img(src="images/visa.png" alt="img")
					img.footer__cards-img(src="images/mastercard.png" alt="img")
					img.footer__cards-img(src="images/yandex.png" alt="img")
					img.footer__cards-img(src="images/qiwi.png" alt="img")
					img.footer__cards-img(src="images/webmoney.png" alt="img")
					img.footer__cards-img(src="images/skrill.png" alt="img")
					img.footer__cards-img(src="images/neteller.png" alt="img")
				.footer__crypto
					img.footer__crypto-img(src="images/bitcoin.png" alt="img")
					img.footer__crypto-img.crypto2(src="images/ethereum.png" alt="img")
					img.footer__crypto-img(src="images/Monero.png" alt="img")
			.footer__reg
				.footer__reg-logo-wrap
					img.footer__logo-img.img-fluid(src="images/logo_footer.png" alt="img")
				a.footer__button(href="#hero") Открыть торговый счет
		.footer__secure
			.footer__secure-item.secure-item1 Соединение защищено SSL certifed 256 bit Secure Proccessing

			.footer__secure-item.secure-item2 Депозиты хранятся в европейском банке
		.footer__bottom
			.footer__line
			.footer__risk
				.footer__risk-title Общее предупреждение о риске:
				.footer__risk-text Торговля на платформе С-Crypto относится к высокорисковым инвестициям. Не вкладывайте в сделку больше средств, чем готовы потерять. Рекомендуем перед началом торговли ознакомиться с правилами и условиями торговли, представленными на нашем сайте. Любые примеры, советы, стратегии и инструкции на данном сайте не являются торговой рекомендацией и не обязательны к исполнению. С-Crypto — это торговая платформа, функционирующая в онлайн-режиме. Все решения принимаются трейдерами самостоятельно, и компания не несёт за них ответственности. Договор на оказание услуг заключается на территории государства Великобритании. Услуги компании оказываются на территории государства Великобритании C-Market LP Office 29, Clifton House, Fitzwilliam Street Lower Dublin 2, Republic of Ireland. 
