section.instruments#instruments
	.instruments__container.mx-auto.d-flex
		.instruments__title торги на лучших условиях
		.instruments__list
			.instruments__item
				.instruments__item-circle
					.instruments__item-number
					| 1
					span.instruments__item-symbol $
				.instruments__text Минимальная <br> сумма сделки
			.instruments__item
				.instruments__item-circle
					.instruments__item-number
					| 250
					span.instruments__item-symbol $
				.instruments__text Минимальный <br> начальный депозит
			.instruments__item
				.instruments__item-circle
					.instruments__item-number
					| 500
					span.instruments__item-symbol %
				.instruments__text Стабильная <br> прибыль со сделки <br> для VIP клиентов
			.instruments__item
				.instruments__item-circle
					.instruments__item-number
					| 3
					span.instruments__item-symbol дня
				.instruments__text Быстрый вывод <br> средств
			.instruments__item
				.instruments__item-circle
					.instruments__item-number
					| 100
					span.instruments__item-symbol %
				.instruments__text Минимальный процент <br> возврата средств <br> в случае неверного <br> прогноза