section.popup
	.popup__wrap
		img.popup__close(src="images/shape.png" alt="close")
		.popup__title Ваши данные успешно отправлены!
		.popup__text Вы  уже в одном шаге от заработка на криптовалюте.
		.popup__text В ближайшее время с вами свяжется наш менеджер для уточнения всех деталей.